@imgUrl: '../img/';

* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

html {
  font-size: 100px;
}

html, body {
  width: 100%;
  height: 100%;
  background: #ccc;
  font-family: "Microsoft YaHei";
}

/*公共方法*/
.translate(@x:0,@y:0) {
  transform: translate(@x, @y);
  -webkit-transform: translate(@x, @y);
}

.middle() {
  display: block;
  margin: 50% 50%;
  .translate(-50%, -50%);
}

/*顶部标题*/
.title {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  background-color: #177664;
  color: #eee;
  height: .3rem;
  font-size: .2rem;
}

/*底部导航条*/
@navHeight: 0.5;
@navWidth: 1;
.nav {
  width: 3rem;
  padding: 0 .1rem;
  background-color: white;
  height: unit(@navHeight, rem);
  .nav-item {
    vertical-align: top;
    display: inline-block;
    width: unit(@navWidth, rem);
    height: unit(@navHeight, rem);
    line-height: unit(@navHeight, rem);
    &.active {
      box-shadow: 0 .03rem 0 #177664 inset;
    }
  }
  &.nav-bottom {
    position: fixed;
    bottom: 0;
  }
}

@iconSize: 0.3;
.icon {
  display: block;
  width: unit(@iconSize, rem);
  height: unit(@iconSize, rem);
  margin: unit((@navHeight - @iconSize)/2, rem) unit((@navWidth - @iconSize)/2, rem);
  &.icon-add {
    background: url("@{imgUrl}add.png");
    background-size: cover;
  }

  &.icon-check {
    background: url("@{imgUrl}check.png");
    background-size: cover;
  }

  &.icon-list {
    background: url("@{imgUrl}list.png");
    background-size: cover;
  }
}

/*面板*/
@height: 0.5;
.panel {
  display: block;
  width: 2.8rem;
  margin: .2rem auto;
  border: 2px solid;
  border-radius: .15rem;
  font-size: .16rem;
  overflow: hidden;
  &:first-child{
    margin-top: .5rem;
  }
  &.emerge{
    border-color: #ebccd1;
    .panel-header{
      color: #a94442;
      background-color: #f2dede;
    }
  }
  &.normal{
    border-color: #faebcc;
    .panel-header{
      color: #8a6d3b;
      background-color: #fcf8e3;
    }
  }
  &.finished{
    border-color: #d6e9c6;
    .panel-header{
      color: #3c763d;
      background: #dff0d8;
    }
  }
  .panel-header {
    font-size: .18rem;
    text-align: center;
    padding: .1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid;
  }
  .panel-body {
    padding: .1rem .1rem;
    background: white;
  }
  .panel-footer {
    text-align: right;
    background-color: #f5f5f5;
    padding: .05rem;
    border-top: 1px solid #ddd;
  }
}

/*按钮*/
.btn{
  display: inline-block;
  padding: 0 .1rem;
  height: .3rem;
  border: 1px solid;
  border-radius: .05rem;
  &.btn-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
  }
}